.navi
{
    color:white;
}
.name
{
    color: white;
   font-size: 250px;
    display: flex;
    justify-content: left;
}
.bg{
    width: 1600PX;
    height: 800PX;
    background-color: black;
}
